<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LatoWeb - mcflydesign.</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<div id="page">
		<header>
			<div class="logo_top">
				<img src="img/logo.png" alt="loogtype">
			</div>
			<h2>STRICT</h2>
		</header>
	</div>

	<section class="company">
		<div id="grid">
			<h1>STRICT</h1>
			<hr>
			<p>STRICT is a responsive theme with a a clean and minimal look.</p>
			<a href="#form" class="btn">Call to action</a>
		</div>
		<a href="#"><img src="img/down-icon.png" alt="icon"></a>
	</section>

	<section class="simple">
		<div id="grid">
			<h2>Simple & pure design.</h2>
			<p>
				Designers everywhere gush with admiration upon seeing a web design and exclaim "its beautiful, it's so clean!". There are a countless number of webdesign round-ups dedicated to 'clean' design and it is a term thrown around quite a bit in the web design community. It can be easy to spot a good example of clean design.
			</p>
		</div>
	</section>

	<section class="features">
		<div id="grid">
			<div class="block">
				<img src="img/mobile-icon.png" alt="icon">
				<h3>Optimized for all devices</h3>
				<p>STRICT has been designed to be fully 
					responsive on all devices</p>
				</div>

				<div class="block">
					<img src="img/tg-icon.png" alt="icon">
					<h3>Clean & Minimal Design</h3>
					<p>This multipurpose theme is especially created 
						to be used for different projects.</p>
					</div>

					<div class="block">
						<img src="img/sh-icon.png" alt="icon">
						<h3>Font Awesome Icon</h3>
						<p>This multipurpose theme is especially created 
							to be used for different projects.</p>
						</div>
					</div>
					<div class="clear"></div>
				</section>

				<section class="examples">
					<h2>Showcase your work like a pro.</h2>
					<p> Contact me if you like my work</p>
					<div class="images">
						<div class="image">
							<div class="img"><img src="img/image-example1.jpg" alt="my_example"></div>
							<div class="icons-img">
								<a href="img/image-example1.jpg" target="_blank"><img src="img/zoom-icon.png" alt="icon" class="icon-1"></a>
								<a href="img/image-example1.jpg" target="_blank"><img src="img/link-icon.png" alt="icon" class="icon-2"></a>
							</div>
						</div>
						<div class="image">
							<div class="img"><img src="img/image-example2.jpg" alt="my_example"></div>
							<div class="icons-img">
								<a href="img/image-example2.jpg" target="_blank"><img src="img/zoom-icon.png" alt="icon" class="icon-1"></a>
								<a href="img/image-example2.jpg" target="_blank"><img src="img/link-icon.png" alt="icon" class="icon-2"></a>
							</div>
						</div>
						<div class="image">
							<div class="img"><img src="img/image-example3.jpg" alt="my_example"></div>
							<div class="icons-img">
								<a href="img/image-example3.jpg" target="_blank"><img src="img/zoom-icon.png" alt="icon" class="icon-1"></a>
								<a href="img/image-example3.jpg" target="_blank"><img src="img/link-icon.png" alt="icon" class="icon-2"></a>
							</div>
						</div>
						<div class="image">
							<div class="img"><img src="img/image-example4.jpg" alt="my_example"></div>
							<div class="icons-img">
								<a href="img/image-example4.jpg" target="_blank"><img src="img/zoom-icon.png" alt="icon" class="icon-1"></a>
								<a href="img/image-example4.jpg" target="_blank"><img src="img/link-icon.png" alt="icon" class="icon-2"></a>
							</div>
						</div>
						<div class="image">
							<div class="img"><img src="img/image-example5.jpg" alt="my_example"></div>
							<div class="icons-img">
								<a href="img/image-example5.jpg" target="_blank"><img src="img/zoom-icon.png" alt="icon" class="icon-1"></a>
								<a href="img/image-example5.jpg" target="_blank"><img src="img/link-icon.png" alt="icon" class="icon-2"></a>
							</div>
						</div>
						<div class="image">
							<div class="img"><img src="img/image-example6.jpg" alt="my_example"></div>
							<div class="icons-img">
								<a href="img/image-example6.jpg" target="_blank"><img src="img/zoom-icon.png" alt="icon" class="icon-1"></a>
								<a href="img/image-example6.jpg" target="_blank"><img src="img/link-icon.png" alt="icon" class="icon-2"></a>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</section>

				<section class="stay" id="form">
					<div id="grid">
						<h2>Stay with us</h2>
						<p>We ensure quailty & support</p>
						<form action="#">
							<input type="text" placeholder="Full Name" class="name">
							<input type="email" placeholder="Email Address">
							<input type="text" placeholder="Message">
							<input type="submit" value="Send">
						</form>
					</div>
				</section>

				<footer>
					<div id="grid">
						<h3>Copyright 2014, STRICT</h3>
						<div class="icons">
							<div class="icon icon-1"></div>
							<div class="icon icon-2"></div>
							<div class="icon icon-3"></div>
							<div class="icon icon-4"></div>
						</div>
					</div>
				</footer>

				<section class="mcfly_inform">
					<p><-- End of website. --></p>
					<h3>Table Version</h3>
					<iframe src="mobile.html" frameborder="0" class="table"></iframe>
					<h3>Mobile Version</h3>
					<iframe src="mobile.html" frameborder="0" class="mobile"></iframe>
					<br>
					<a href="#">design: mcflypixc studio.</a>
					<a href="https://mcflypixc.ru" class="contact">Contact</a> 
				</section>
			</body>
			</html>
