* {
	font-family: 'Roboto', sans-serif;
}

body {
	text-align: center;
	background: #ee0979; 
	background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); 
	background: linear-gradient(to right, #ff6a00, #ee0979); 
}

header h1 {
	font-size: 70px;
	color: #fff;
	padding-top: 180px;
}

header a{
	margin: 20px auto;
	text-decoration: none;
	font-size: 26px;
	color: black;
	background: #fff;
	display: block;
	border: 1px solid #fff;
	padding: 20px;
	width: 200px;
}

header a:hover{
	background: black;
	border: 1px solid black;
	color: #fff;
	transition: background 0.8s;
	transition: border 0.8s;
}